* {
    box-sizing: border-box;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #004DA8 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB00;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C222;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0075FF;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #004DA8;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #0075FF;
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
}

h3 {
  margin: 6px 0 8px 0;
}

#zoomDiv {
    display: flex;
    margin-bottom: 12px;
}

#zoomDiv input {
    margin-left: 4px;
    width: 100%;
}

p {
    margin: 8px 0 8px 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 196px;
    background-color: #4a4a4a;
    position: relative;
    overflow: hidden;
    touch-action: none;
}

#info {
  display: none;
}

.values-svg {
    flex: 1;
    height: 100%;
    width: 100%;
    fill: none;
    stroke: white;
    stroke-width: 1.2px;
}

.scrollbar {
    position: relative;
    min-width: 24px;
    height: 12px;
    border-radius: 6px;
    background-color: #0075FF;
}

#logHeader {
    display: flex;
    justify-content: space-between;
}

#log {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    border: 1px solid black;
    flex: 3;
    overflow: auto;
    padding: 4px;
    margin-top: 4px;
}



