input {
    margin: 0;
    width: 100%;
}

#container {
    height: 196px;
    background-color: #4a4a4a;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;

}

.scrollbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 18px;
}

.values-svg {
    height: 100%;
    width: 100%;
    fill: none;
    stroke: white;
    stroke-width: 1.2px;
}

.scrollbar {
    overflow: auto;
}
